<div class="container mt-5">
    <div class="row">
        <div class="col-lg-9 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary float-end" routerLink="/crear-ubicacion">NUEVA</button>
                    <table id="listar-ubicaciones" *ngIf="listUbicaciones.length>0" class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Rubro</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Localidad</th>
                            <th scope="col">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let ubicacion of listUbicaciones">
                            <td class="h5"></td>
                            <td>{{ubicacion.rubro}}</td>
                            <td>{{ubicacion.direccion}}</td>
                            <td>{{ubicacion.localidad}}</td>
                            <td>
                                <i [routerLink]="['/editar-ubicacion', ubicacion._id]" class="fas fa-edit text-primary"></i>
                                <i (click)="eliminarUbicacion(ubicacion._id)" class="fas fa-trash text-danger mx-2"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h5 *ngIf="listUbicaciones.length==0">No hay ubicaciones cargadas</h5>
                </div>
            </div>
        </div>
    </div>
</div>
