<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card rounded-pill">
                <div class="card-body">
                    <div class="mb-3 text-center h3 titulo">ALTA DE UBICACIONES</div>
                    <form>
                        <div class="row mb-3">
                          <div class="col-sm-10 mx-auto">
                            <input id="rubro" class="form-control" placeholder="Rubro">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col-sm-10 mx-auto">
                            <input id="direccion" class="form-control" placeholder="Direccion">
                          </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 mx-auto">
                              <input id="localidad" class="form-control" placeholder="Localidad">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-10 mx-auto">
                              <button class="btn btn-primary float-end rounded-pill" routerLink="/crear-ubicacion">Ingresar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>